h1, h2, p, small {
    color: ivory;
}

.headings {
    text-align: center;
}

.drop-count {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: auto;
    width: 500px;
}

li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.box {
    width: 100%;
    height: 75px;
    margin-bottom: 10px;
}

.violet {
    background: blueviolet;
}

.blue {
    background: blue;
}

.cyan {
    background: cyan;
}

.indigo {
    background: indigo;
}

.teal {
    background: teal;
}

.purple {
    background: purple;
}

.green {
    background: mediumseagreen;
}

.magenta {
    background: mediumvioletred;
}

.orange {
    background: darkorange;
}

.red {
    background: crimson;
}

.gold {
    background: goldenrod;
}

.darkblue {
    background: darkslateblue;
}

.credits {
    margin: 20px;
    text-align: center;
    a { color: aqua; }
    a:visited { color:blueviolet; }
    a:hover { color:magenta; }
}


@media (max-width: 480px) {
    .headings {
        padding: 10px;
    }

    .box {
        height: 50px;
        margin-bottom: 6px;
    }

    ul {
        width: 330px;
    }

    h1, h2 {
        font-size: 1.2em;
    }

    p, small {
        font-size: 0.8em;
    }
}